body{
    background-color: cornsilk;
  }
  h1{
    text-align:center;
    text-decoration: underline;
  }
  h2{
    text-align:center;
    margin-top: 40px;
  }
  p{
    text-align:center;
    margin-top: 20px;
  }
  div.allButtons{
    text-align: center; /*can do this to center the buttons since the buttons are inline-block;*/
    margin-top:25px;
  }
 button{
    padding: 5px;
    margin: 10px;
    width: 100px;
    background-color: rgb(209, 155, 94);
  }
  div.para{
    width: 400px;
    margin: 0 auto;
    background-color:rgb(223, 192, 198);
  }
  div.resetDiv{
    text-align: center;
  }
  button#reset{
    background-color: rgb(223, 207, 166);
  }
  